body {
  background-repeat: no-repeat;
  background-size: auto;
  background-color: rgb(238, 122, 45);
}

.protest-revolution-regular {
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main-nav-2 {
  background-color: rgba(11, 38, 63, 0.74);
  color: rgb(70, 83, 139);
  width: 2560px;
}

.main-nav-2 ul {
  list-style: none;
}

.main-nav-2 li {
  display: inline-block;
  margin: 20px 50px;
}

.main-nav-2 a {
  color: white;
  text-decoration: none;
}

.flex-container-one {
  background-color: rgba(15, 61, 82, 0.966);
  color: rgb(235, 227, 227);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  padding-top: 5px;
  text-align: center;
  transform: translateX(1000px);
}

.flex-container-two {
  background-color: rgba(15, 61, 82, 0.966);
  color: rgb(235, 227, 227);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  padding-bottom: 5px;
  text-align: center;
  transform: translateX(1400px);
}

.flex-container-three {
background-color: rgba(15, 61, 82, 0.966);
  color: rgb(235, 227, 227);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  padding-top: 5px;
  text-align: center;
  transform: translateX(1000px);
}

