.fs1-2 {
  font-size: 1.2rem;
}

@media only screen and (min-width: 966px) and (max-width: 1250px) {
  .it-certificates {
    margin-left: 50px;
    height: 20px;
  }
}
@media (max-width: 966px) {
  .naruto-tribute-img {
    display: none;
  }
  .profile-container-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .leaf-village-sign {
    height: 5vh;
  }
  .flex-container-it-skills {
    font-size: 1rem;
  }
  .kunai-img {
    width: 200px;
  }
  .flex-container-skills-and-experience {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}