@media only screen and (min-width: 320px) and (max-width: 1250px) {
  .flex-container-skills-and-experience {
    display: flex;
    flex-direction: column;
  }
  .flex-container-skills-and-experience .skills-container {
    min-height: fit-content;
    margin-left: 800px;
  }
  .flex-container-skills-and-experience .experience-container-within-flex {
    min-height: fit-content;
    transform: translateX(-600px);
    margin-top: 850px;
  }
}