.fs1-2 {
  font-size: 1.2rem;
}

body {
  background-color: #ff9f06;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

h2 {
  text-decoration: underline;
}

.main-nav {
  background-color: #ff7e2e;
  color: rgb 10, 20, 63;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 9999;
}

.page-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page-navigation .btn {
  border: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 50px;
}
.page-navigation .btn .fire {
  height: 40px;
  cursor: pointer;
  margin: 30px 50px;
}
.page-navigation .btn .fire:hover {
  -webkit-transform: rotateY(45deg);
  transform: rotateY(45deg);
}
.page-navigation ul {
  list-style: none;
}
.page-navigation ul li {
  display: -moz-inline-block;
  display: inline-block;
  margin: 20px 50px;
}
.page-navigation ul li a {
  color: white;
  font-size: 1.7rem;
  text-decoration: none;
}
.page-navigation ul li a:hover {
  color: #e76114;
  text-decoration: underline overline;
}

.profile-container-flex {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  min-width: fit-content;
  margin-left: 25%;
  margin-right: 25%;
}
.profile-container-flex p {
  padding: 15px;
  min-width: 300px;
  border: none;
  border-radius: 12px 20px 45px 10px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(190, 75, 9, 0.801)), to(#ff9f06));
  background: -o-linear-gradient(left, rgba(190, 75, 9, 0.801), #ff9f06);
  background: linear-gradient(to right, rgba(190, 75, 9, 0.801), #ff9f06);
}
.profile-container-flex .profile-container-flex__text {
  font-size: 1.2rem;
}

.leaf-village-sign {
  margin-left: 20%;
  margin-top: 10%;
}
.leaf-village-sign:hover {
  -webkit-transform: rotateY(45deg);
  transform: rotateY(45deg);
}

.flex-container-it-skills {
  background-color: #e76114;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
}

.it-knowledge {
  background-color: rgba(190, 75, 9, 0.801);
  padding: 30px;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  font-size: 1rem;
}
.it-knowledge:hover {
  scale: 1.1;
  border: 2px solid cornflowerblue;
  border-radius: 12px;
}

.kunai-img {
  width: 200px;
  margin-left: 25%;
  margin-right: 25%;
}
.kunai-img:hover {
  -webkit-transform: rotateX(150deg);
  transform: rotateX(150deg);
}

.it-certificates {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 50px 50%;
  width: 100px;
  height: 350px;
}

.flex-container-skills-and-experience {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
}

.skills {
  width: 400px;
  background-color: rgba(38, 90, 168, 0.7960784314);
  padding: 10px;
  margin-top: 5px;
  border: 2px solid rgb(240, 71, 19);
  border-radius: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.skills-container {
  margin: 0 5%;
}

.experience-container {
  min-width: 834px;
  margin-left: 5%;
}
.experience-container .experience-container__text {
  background: -webkit-gradient(linear, left top, right top, from(rgba(190, 75, 9, 0.801)), to(#ff9f06));
  background: -o-linear-gradient(left, rgba(190, 75, 9, 0.801), #ff9f06);
  background: linear-gradient(to right, rgba(190, 75, 9, 0.801), #ff9f06);
  padding: 10px;
  border-radius: 12px;
}

.education-container {
  width: 610px;
}
.education-container ul {
  background: -webkit-gradient(linear, left top, right top, from(rgba(190, 75, 9, 0.801)), to(#ff9f06));
  background: -o-linear-gradient(left, rgba(190, 75, 9, 0.801), #ff9f06);
  background: linear-gradient(to right, rgba(190, 75, 9, 0.801), #ff9f06);
  border-radius: 12px;
}
.education-container ul li {
  padding: 10px;
}

.sasuke-run-animation {
  -webkit-animation: transform 3000ms ease-out infinite;
  animation: transform 3000ms ease-out infinite;
}
@keyframes transform {
  from {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
  }
  to {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
  }
}

.footer-container {
  background-color: #ff7e2e;
  padding: 20px;
  width: 100%;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  margin-block-start: -15px;
}
.footer-container .contact-information {
  text-align: center;
}
.footer-container .contact-information:hover {
  scale: 1.2;
  -webkit-transform: rotateZ(20deg);
  -ms-transform: rotate(20deg);
  transform: rotateZ(20deg);
}

.text-center {
  text-align: center;
  padding: 10px;
  width: 100vw;
}