body {
    background-repeat: no-repeat;
    min-height: 100vh;
}


.main-nav {
    background-color: rgb(110, 161, 202);
    color: rgb(10, 20, 63);

}

.main-nav ul {
    list-style: none;
}

.main-nav li {
    display: inline-block;
    margin: 10px 10px;
}

.main-nav a {
    color: white;
    text-decoration: none;
}

.profile {
    color: rgb(10, 10, 10);
    marging-top: 100px;

}

.profile p {
    color: white;
}

.profile-container {
    margin-top: 1030px;
    padding-left: 20px;
    ;
}

.experience-container {
    padding-left: 20px;
}