body {
    background-repeat: no-repeat;
    background-size: auto;
    background-color: rgb(107, 142, 172);
}


.main-nav {
    background-color: rgb(110, 161, 202);
    color: rgb(10, 20, 63);

}

.main-nav ul {
    list-style: none;
}

.main-nav li {
    display: inline-block;
    margin: 20px 50px;
}

.main-nav a {
    color: white;
    text-decoration: none;
}

.profile {
    color: rgb(10, 10, 10);
    marging-top: 100px;

}

.profile p {
    color: white;
}

.profile-container {
    margin-top: 1400px;
    padding-left: 160px;
    ;
}

.experience-container {
    padding-left: 1200px;
}

.education-container {
    padding-left: 420px;
}

.skills {
    width: 350px;
    background-color: rgb(98, 142, 201);
    margin: 10px;
    width: 400px;
    height: 220px;
    padding: 10px;
    border: 2px solid darkorange;
    border-radius: 8px 0 8px 0;
    display: inline-block;
}

.set-of-skills {
    padding: 200px;
}

.certificate-and-languages {
    width: 100px;
    background-color: rgb(98, 142, 201);
    padding-left: 20px;
    margin: 10px 8px;
    width: 300px;
    height: 150px;
    padding: 10px;
    border: 2px solid darkorange;
    border-radius: 8px 0 8px 0;
    display: inline-block;
}

footer {
    background-color: rgb(110, 161, 202);
    padding: 20px;
}

.contact-details {
    margin: 20px 0 0 300px;
}

.contact-details-container {
    margin: 30px;
}