$primaryColor: rgba(15, 61, 82, 0.966);
$textColor: rgb(235, 227, 227);
$backgroundColor: rgb(11, 38, 63);

@use "mixins" as *;

.flex-page-layout {
  @include flex-column;
}

body {
  background-image: url(../images/sasuke.jpg), url(""),
    url("../images/wallpapersden.com_naruto-uzumaki-x-sasuke-uchiha-hd_2048x1152.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center top, left 10%, center 20%;
  background-size: 100% auto, 100% auto;
  background-color: rgba(10, 21, 73, 0.877);
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
}

.main-nav-2 {
  background-color: $backgroundColor;
  color: rgb(70, 83, 139);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
}

.page-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  .btn {
    border: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 50px;
    padding-bottom: 20px;

    .fire {
      height: 40px;
      cursor: pointer;

      &:hover {
        -webkit-transform: rotateY(45deg);
        transform: rotateY(45deg);
      }
    }
  }

  ul {
    list-style: none;

    li {
      display: inline-block;
      margin: 0 20px;

      a {
        color: white;
        text-decoration: none;

        &:hover {
          color: rgb(32, 129, 209);
          text-decoration: underline;
        }
      }
    }
  }
}

.grid-container {
  margin: 15% 20% 0 32%;
  display: grid;
  gap: 50px;
  grid-template-areas: "link1 link2";
}

.grid-container-1 {
  margin: 15% 20% 5% 10%;
  display: grid;
  gap: 50px;
  grid-template-areas:
    "link3 link4 link5"
    "link6 link7 link8";
}

.flex-container-cards {
  background-color: $primaryColor;
  color: $textColor;
  @include flex-column;
  width: 500px;
  height: 490px;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  text-align: center;
  padding: 5px;
}

.flex-container-card-2 {
  background-image: none;
  @include flex-column;
  width: 500px;
  height: 490px;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  color: white;
  text-align: center;
  padding: 5px;

  &:hover {
    background-image: url(../images/harry-potter-4k-3840-x-2160-wallpaper-72auu5t7jk2yqssn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 20% right 10%;
    -webkit-filter: hue-rotate(150deg);
    filter: hue-rotate(150deg);
  }
}

.link3 {
  background-image: url(../images/1337462.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 20% right 90%;
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
}

.github-btn {
  background-color: $backgroundColor;
  width: 130px;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.calculator-and-list-of-js-homework {
  background-image: url(../images/naruto-boruto-sasuke.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include flex-row-center;

  .calculator-section-aside__ul {
    list-style: none;
    font-size: 1rem;
    @include flex-row-center;
  }
}

.js-homework-anchors {
  display: flex;
  justify-content: center;
}

.js-homework-anchors a {
  color: $textColor;
  text-decoration: none;
  font-size: 1.1rem;
  margin-left: 20px;
}

.js-maths-homework {
  background-color: rgba(65, 67, 70, 0.74);
  height: fit-content;
  border-top: 10px solid $primaryColor;
  border-bottom: 10px solid rgb(70, 83, 139);
  padding: 40px 100px;

  .js-homework__input {
    height: 50px;
    width: 220px;
  }

  .js-homework__btn {
    height: 50px;
    background-color: $primaryColor;
    color: $textColor;
    border: none;
  }
}

.js-types-of-data-and-math-functions-homework {
  border-top: 10px solid $primaryColor;
  border-bottom: 10px solid $primaryColor;
  padding: 40px 100px;
  height: fit-content;
  background-color: rgb(70, 83, 139);

  .js-homework__input-2 {
    height: 50px;
    width: 220px;
  }

  .js-homework__btn-2 {
    height: 50px;
    background-color: $textColor;
    color: $primaryColor;
    border: none;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    &:hover,
    &:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.traffic-lights {
  background-color: $backgroundColor;
  width: 124px;
  padding: 2px;
  border-radius: 5px;
}

.streetlight {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
  background-color: $primaryColor;

  &.active {
    background-color: red;
  }

  &.yellow {
    background-color: yellow;
  }

  &.green {
    background-color: green;
  }
}

//jQuery homework - moving rectangle
#movingElement {
  width: 50px;
  height: 50px;
  background-color: $primaryColor;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

//jQuery homework - to-do list
.completed {
  text-decoration: line-through;
  color: $primaryColor;
}

//jQuery homework - list with details on hover
.details {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

.footer-container {
  background-color: $backgroundColor;
  padding: 20px;
  width: 100%;
  font-size: 1.2rem;
  @include flex-row-center;
}

.contact-information {
  text-align: center;
  color: azure;
  font-size: 1.5rem;
}

.text-center {
  text-align: center;
  font-size: 1.2rem;
  padding: 10px;
  width: 99vw;
  -webkit-box-shadow: 20px 5px 4px rgba(2, 18, 32, 0.356) inset;
  box-shadow: 20px 5px 4px rgba(2, 18, 32, 0.356) inset;
}

.scroll-back-up {
  margin-left: 25%;

  .fa-leaf {
    color: $textColor;
  }

  a {
    text-decoration: none;
    color: $textColor;
  }
}
