$primaryColor: rgba(15, 61, 82, 0.966);
$textColor: rgb(235, 227, 227);
$backgroundColor: rgb(11, 38, 63);

.flex-page-layout {
  display: flex;
  flex-direction: column;
}

body {
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgba(10, 21, 73, 0.877);
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}

.main-nav-2 {
  background-color: $backgroundColor;
  color: rgb(70, 83, 139);
  width: 100%;

  ul {
    list-style: none;

    li {
      display: inline-block;
      margin: 20px;

      a {
        color: white;
        text-decoration: none;
        &:hover {
          color: rgb(32, 129, 209);
          text-decoration: underline;
        }
      }
    }
  }
}

.grid-container {
  margin: 5% 30% 0 40%;
  display: grid;
  gap: 50px;
  grid-template-areas:
    "link1 link2"
    "link3 link4";
}

.flex-container-cards {
  background-color: $primaryColor;
  color: $textColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 540px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  text-align: center;
}

.flex-container-card-3 {
  background-image: url(../images/1337462.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 20% right 90%;
  filter: grayscale(80%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 540px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  color: white;
  text-align: center;
}

.github-btn {
  background-color: $backgroundColor;
  width: 130px;
  border: none;
  border-radius: 10px;
}

.footer-container {
  background-color: $backgroundColor;
  padding: 20px;
  width: 100%;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-information {
  text-align: center;
  color: azure;
  font-size: 1.5rem;
}

.text-center {
  text-align: center;
  font-size: 1.2rem;
  padding: 10px;
  width: 100vw;
  box-shadow: 20px 5px 4px rgba(2, 18, 32, 0.356) inset;
}

@media only screen and (min-width: 800px) and (max-width: 1400px) {
  body {
    background-image: url(../images/2ac217d1943ba93dd7de989ecd9e5f35.jpg);
  }

  .grid-container {
    margin-left: 25%;
    margin-right: 25%;
    display: grid;
    gap: 20px;
    grid-template-areas:
      "link1"
      "link2"
      "link3"
      "link4";

    .flex-container-cards {
      background-color: $primaryColor;
      color: $textColor;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 440px;
      height: 480px;
      border: none;
      border-radius: 10px;
      font-size: 1rem;
      text-align: center;
      padding: 10px;

      .github-btn {
        background-color: rgb(11, 39, 63);
        font-size: 1.2rem;
        height: fit-content;
        width: 100px;
        padding: 5px;
        border: none;
        border-radius: 10px;

        .footer-container {
          font-size: 0.5rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 300px) and (max-width: 800px) {
  body {
    background-image: url(../images/300-800px.JPG);
  }

  .grid-container {
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    gap: 20px;
    grid-template-areas:
      "link1"
      "link2"
      "link3"
      "link4";

    .flex-container-cards {
      background-color: $primaryColor;
      color: $textColor;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 320px;
      height: 480px;
      border: none;
      border-radius: 10px;
      font-size: 1rem;
      text-align: center;
      padding: 10px;

      .github-btn {
        background-color: $backgroundColor;
        font-size: 1.2rem;
        height: fit-content;
        width: 100px;
        padding: 5px;
        border: none;
        border-radius: 10px;
      }
    }
  }
}
