@use "mixins" as *;

@media only screen and (min-width: 966px) and (max-width: 1250px) {
}

@media (max-width: 966px) {
  .naruto-tribute {
    display: none;
  }

  .profile-container-flex {
    @include flex-column;
  }

  .leaf-village-sign {
    height: 5vh;
  }

  .flex-container-it-skills {
    font-size: 1rem;
  }

  .kunai-img {
    display: none;
  }

  .it-certificates {
    @include flex-column;
    margin-bottom: 110px;
  }

  .it-certificates img {
    display: block;
    margin-bottom: 10px;
  }

  .flex-container-skills-and-experience {
    @include flex-column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
