$primaryColor: #ff9f06;
$bgColor: #ff7e2e;
$textColor: rgb (10, 20, 63);
$texthoverColor: #e76114;

$direction: to right;
$colors: rgba(190, 75, 9, 0.801), #ff9f06;

@use "mixins" as *;

body {
  background-color: $primaryColor;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  text-decoration: underline;
}

.main-nav {
  background-color: $bgColor;
  color: $textColor;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 9999;
}

.page-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  .btn {
    border: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 50px;

    .fire {
      height: 40px;
      cursor: pointer;
      margin: 30px 50px;

      &:hover {
        -webkit-transform: rotateY(45deg);
        transform: rotateY(45deg);
      }
    }
  }

  ul {
    list-style: none;

    li {
      display: -moz-inline-block;
      display: inline-block;
      margin: 20px 50px;

      a {
        color: white;
        font-size: 1.7rem;
        text-decoration: none;

        &:hover {
          color: $texthoverColor;
          text-decoration: underline overline;
        }
      }
    }
  }
}

.profile-container-flex {
  @include flex-row-center;
  min-width: 757px;
  margin-left: 25%;
  margin-right: 25%;

  p {
    padding: 15px;
    min-width: 300px;
    border: none;
    border-radius: 12px 20px 45px 10px;
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(190, 75, 9, 0.801)),
      to(#ff9f06)
    );
    background: -o-linear-gradient(left, rgba(190, 75, 9, 0.801), #ff9f06);
    background: linear-gradient($direction, $colors);
  }
  .profile-container-flex__text {
    font-size: 1.2rem;
  }
}

.leaf-village-sign {
  margin-left: 20%;
  margin-top: 10%;

  &:hover {
    -webkit-transform: rotateY(45deg);
    transform: rotateY(45deg);
  }
}

.flex-container-it-skills {
  background-color: $texthoverColor;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  @include flex-row-center;
}

.it-knowledge {
  background-color: rgba(190, 75, 9, 0.801);
  padding: 30px;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  font-size: 1.2rem;

  &:hover {
    scale: 1.1;
    border: 2px solid cornflowerblue;
    border-radius: 12px;
  }
}

.kunai-img {
  width: 300px;
  margin-left: 25%;
  margin-right: 25%;

  &:hover {
    -webkit-transform: rotateX(150deg);
    transform: rotateX(150deg);
  }
}

.flex-container-skills-and-experience {
  @include flex-row-center;
}

.skills {
  width: 400px;
  background-color: #265aa8cb;
  padding: 10px;
  margin-top: 5px;
  border: 2px solid rgb(240, 71, 19);
  border-radius: 12px 0;
  @include flex-column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.skills-container {
  margin: 0 5%;
}

.experience-container {
  min-width: 834px;
  margin-left: 5%;

  .experience-container__text {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(190, 75, 9, 0.801)),
      to(#ff9f06)
    );
    background: -o-linear-gradient(left, rgba(190, 75, 9, 0.801), #ff9f06);
    background: linear-gradient($direction, $colors);
    padding: 10px;
    border-radius: 12px;
  }
}

.education-container {
  width: 610px;

  ul {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(190, 75, 9, 0.801)),
      to(#ff9f06)
    );
    background: -o-linear-gradient(left, rgba(190, 75, 9, 0.801), #ff9f06);
    background: linear-gradient($direction, $colors);
    border-radius: 12px;

    li {
      padding: 10px;
    }
  }
}

.sasuke-run-animation {
  -webkit-animation: transform 3000ms ease-out infinite;
  animation: transform 3000ms ease-out infinite;

  @keyframes transform {
    from {
      -webkit-transform: translateX(2500px);
      transform: translateX(2500px);
    }
    to {
      -webkit-transform: translateX(-300px);
      transform: translateX(-300px);
    }
  }
}

.footer-container {
  background-color: $bgColor;
  padding: 20px;
  width: 100%;
  @include flex-row-center;
  margin-block-start: -15px;

  .contact-information {
    text-align: center;

    &:hover {
      scale: 1.2;
      -webkit-transform: rotateZ(20deg);
      -ms-transform: rotate(20deg);
      transform: rotateZ(20deg);
    }
  }
}

.text-center {
  text-align: center;
  padding: 10px;
  width: 100vw;
}
