$primaryColor: #ff9f06;
$bgColor: #ff7e2e;
$textColor: rgb (10, 20, 63);
$texthoverColor: #e76114;

$direction: to right;
$colors: rgba(190, 75, 9, 0.801), #ff9f06;

body {
  background-color: $primaryColor;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  text-decoration: underline;
}

.main-nav {
  background-color: $bgColor;
  color: $textColor;
  width: 100%;
  min-width: 460px;
  ul {
    list-style: none;
    li {
      display: -moz-inline-block;
      display: inline-block;
      margin: 20px 50px;
      a {
        color: white;
        font-size: 1.7rem;
        text-decoration: none;
        &:hover {
          color: $texthoverColor;
          text-decoration: underline overline;
        }
      }
    }
  }
}

.profile-container-flex {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 757px;
  margin-left: 25%;
  margin-right: 25%;
  margin-block-start: -15px;
  p {
    padding: 15px;
    min-width: 300px;
    border: none;
    border-radius: 12px 20px 45px 10px;
    background: linear-gradient($direction, $colors);
  }
}

.leaf-village-sign {
  margin-left: 20%;
  margin-top: 10%;
  &:hover {
    transform: rotateY(45deg);
  }
}

.flex-container-it-skills {
  background-color: $texthoverColor;
  min-height: fit-content;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.it-knowledge {
  background-color: rgba(190, 75, 9, 0.801);
  padding: 30px;
  min-height: fit-content;
  font-size: 1.2rem;
  &:hover {
    scale: 1.1;
    border: 2px solid cornflowerblue;
    border-radius: 12px;
  }
}

.kunai-img {
  width: 300px;
  margin-left: 25%;
  margin-right: 25%;
  &:hover {
    transform: rotateX(150deg);
  }
}

.flex-container-skills-and-experience {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skills {
  width: 400px;
  background-color: #265aa8cb;
  padding: 10px;
  margin-top: 5px;
  border: 2px solid rgb (240, 71, 19);
  border-radius: 12px 0;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills-container {
  margin: 0 5%;
}

.experience-container {
  min-width: 834px;
  margin-left: 5%;
  .experience-container__text {
    background: linear-gradient($direction, $colors);
    padding: 10px;
    border-radius: 12px;
  }
}

.education-container {
  width: 610px;
  ul {
    background: linear-gradient($direction, $colors);
    border-radius: 12px;
    .educational-container__item {
      padding: 10px;
    }
  }
}

.sasuke-run-animation {
  animation: transform 3000ms ease-out infinite;

  @keyframes transform {
    from {
      transform: translateX(2500px);
    }
    to {
      transform: translateX(-300px);
    }
  }
}

.footer-container {
  background-color: $bgColor;
  padding: 20px;
  width: 100%;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-block-start: -15px;
  .contact-information {
    text-align: center;
    &:hover {
      scale: 1.2;
      transform: rotateZ(20deg);
    }
  }
}

.text-center {
  text-align: center;
  padding: 10px;
  width: 100vw;
}
